image: Visual Studio 2022

install:
  - choco install innosetup -y

build:
  project: windows-exe\installer.iss

build_script:
  - '"C:\Program Files (x86)\Inno Setup 6\ISCC.exe" windows-exe\installer.iss'

artifacts:
  - path: windows-exe\C-SchoolApp-Setup.exe
    name: C-SchoolApp

