image: Visual Studio 2022

build: off   # désactive MSBuild

install:
  - choco install innosetup -y

build_script:
  # Compile le setup
  - '& "C:\Program Files (x86)\Inno Setup 6\ISCC.exe" "windows-exe\installer.iss"'
  # Copie le fichier généré à la racine (AppVeyor détecte les artefacts à la racine)
  - cmd /c copy "windows-exe\C-SchoolApp-Setup.exe" "%APPVEYOR_BUILD_FOLDER%\C-SchoolApp-Setup.exe"

artifacts:
  - path: C-SchoolApp-Setup.exe
    name: C-SchoolApp-Setup
    type: File

