image: Visual Studio 2022

build: off   # désactive MSBuild

install:
  - choco install innosetup -y

build_script:
  # Compile avec Inno Setup
  - '& "C:\Program Files (x86)\Inno Setup 6\ISCC.exe" "windows-exe\installer.iss"'
  # Déplace le fichier vers la racine pour AppVeyor
  - powershell Copy-Item "windows-exe\C-SchoolApp-Setup.exe" "$env:APPVEYOR_BUILD_FOLDER\C-SchoolApp-Setup.exe" -Force

artifacts:
  - path: C-SchoolApp-Setup.exe
    name: C-SchoolApp-Setup
    type: File

