image: Visual Studio 2022

install:
  - choco install innosetup -y

build_script:
  - '"C:\Program Files (x86)\Inno Setup 6\ISCC.exe" WindowsExe\installer.iss'

artifacts:
  - path: WindowsExe\Sacrement_De_Mariages_Setup.exe

